
@font-face {
    font-family: sfpro;
    src: url(fonts/sf-pro-text-regular.woff);
}

@media screen {
    main {
        background-color: gray;
    }
}

* {
    font-family: sfpro;
}

main {
    display: flex;
}

#sec1 {
    flex-flow: row wrap;
}

#sec2 {
    align-items: flex-start;
}

body {
    flex-direction: column;
    /* Set background color to black */
    background-color: black;
}

#title {
    color: #FFFFFF;
    text-decoration: underline;
    text-align: center;
}

.externlinks {
    color: rgb(255,255,255);
}

[attribute="listentry"] {
    color: hsl(0,100%,50%);
}

[attribute="listentry"]:hover {
    color: #ffffff;
}

[attribute="listentry"]:active {
    color: #00ff00;
}

h3, li, p, i, em, section, details, fieldset {
    color: white;
}

.media1 {
    border: 2px solid blue;
    border-width: 10px;
    width: 80vw; /* 2 relative units here */
    height: 60vh;
    border-radius:2%;
    position: static;
}

.media1 div {
    color: pink;
    height: 10em; /* third relative unit */ 
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.media1.chickenlabel {
    font-size: 50%;
}

.media1 > img {
    margin: 1% 1% 1% 1%;
    height: 100%;
    width: 100%;
    max-width: 500px; /* two absolute units */
    max-height: 200cm;
}

.media1 + img {
    margin-top:1%;
    margin-bottom: 1%;
    margin-left: 5px;
    margin-right: 5px;
    display:inline;
}

.media2 {
    margin: auto;
    padding: 1% 1% 1% 1%;
    border: 2px dashed green;
    border-width: 10px;
    width: 100%;
    height: 200mm; /* another absolute unit */
    position: relative;
}

#endform {
    border: 1px dashed yellow;
    border-width: 10px;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
}

#endform h3 {
    grid-row-start:1;
    grid-row-end: 2;
}

#endform form {
    grid-row-start: 2;
    grid-row-start: 3;
}

#endform form datalist {
    grid-row-start: 3;
    grid-row-end: 4;
}



/* TODO: combinators */